
.container{
	width:25%;
	margin:0 auto;
	padding:20px 0;
	box-shadow:0px 0px 7px #ccc;
	background-color:#f0f0f0;
	text-align:center;
	border-radius:20px;
	
}
#box{
	padding:70px 0;
}

.col{
	padding:10px 0;
	position:relative;
}
.dicon{
    color:#ff9706;
	border-radius:30px;
	position:absolute;
	top:-38%;
	left:40%;
	font-size:30px;
	background-color:#f0f0f0;
	box-shadow:0px 0px 5px #ccc ;
	padding:14px 16px;
}
.msg{
    font-family: 'able', sans-serif;
	color:#656565;
}
.msg1{
    font-family: 'Gothic A1', sans-serif;
	font-size:20px;
	color:#665c5c;
	
}