
.container{
	width:30%;
	margin:0 auto;
	padding:20px 0;
	box-shadow:0px 0px 7px #ccc;
	background-color:#e1e1e1bf;
	text-align:center;
	border-radius:10px;
	
}
#box{
	padding:70px 0;
}

.col{
	padding:10px 0;
	position:relative;
}
.dicon{
    color:#ff9706;
	border-radius:30px;
	position:absolute;
	top:-38%;
	left:40%;
	font-size:30px;
	background-color:#e1e1e1bf;
	box-shadow:0px 0px 5px #ccc ;
	padding:14px 16px;
}
.msg{
	font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
	color:#656565;
}
.msg1{
    font-family: 'Gothic A1', sans-serif;
	font-size:20px;
	color:#a5a3a3;
	
}